@import url(body.css);

@media screen and (max-width: 920px){
    .contenido-body{
        margin-left: 4%;
        margin-right: 4%;
    }
    .contacto-me{
        margin-top: 5%;
    }
    .contacto-me .redes{
        display: block;
        width: 80%;
        margin-bottom: 5%;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
    }
    .skills{
        margin-bottom: 5%;
    }
    .red-social .contacto{
        width: 25%;
        margin-left: 4%;
        margin-bottom: 4%;
    }
}
@media screen and (max-width: 361px) {
    .contenido-parte-body{
        padding: 5%;
    }
    .contenido-parte-body img{
        width: 100%;
        margin: 1%;
    }
    .contenido-parte-body a{
        padding: 2.5%;
    }
}